mat-card {
  padding: 1%;
  margin: 1%;
}

mat-card-content {
  padding: 1%;
  margin: 1%;
}

mat-form-field {
  margin: auto;
  margin: 0px 5px;
  width: 80%;
}

mat-input {
  width: 70%;
}

button {
  margin: 1% 1%;
}