.cadastro-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}

.cadastro-card {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
}